:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}

ul {
  list-style-type: none;
  display: flex;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* global header */
.global-header {
  border-bottom: 1px solid var(--cornflower);
  display: flex;
  background: var(--white);
  height: 72px;
}

/* main nav */
.main-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* height: 24px; */
}
.main-nav-ul {
  display: flex;
  padding-left: 76px;
  margin-top: 24px;
  margin-right: 832px;
  gap: 40px;
}
.main-nav-ul a {
  color: var(--navy-blue);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Logo WEBSTUDIO */
.logo-link {
  font-family: var(--second-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 24px;
  margin-left: 156px;
  margin-bottom: 24px;
  color: var(--navy-blue);
}
.logo-link .web {
  color: var(--iris);
}

/* link-uri de contact */
.main-nav .address .tel-contact-link,
.main-nav .address .mailto-contact-link {
  color: var(--slate);
  font-family: var(--font-family) sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  /* margin-top: 24px;  ???????? */
}
.main-nav .address .tel-contact-link {
  margin-right: 156px;
}
.main-nav .address .mailto-contact-link {
  margin-right: 40px;
}

.hero-section {
  display: flex;
  background: var(--navy-blue);
  height: 600px;
  align-items: center;
  justify-content: center;
}

.hero-section .hero-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white);
  justify-content: center;
  padding: 0px 350px 0 350px;
}

.hero-section button {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: var(--white);
  background-color: var(--iris);
  width: 169px;
  height: 56px;
  border-radius: 4px;
  border: none;
  margin-left: 500px;
}

/* features-section */
.features-section {
  display: flex;
  justify-content: center;
}

.features-list {
  gap: 24px;
}

/* features-list Fonts */
.features-list p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.features-list-element h3 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

/* doing section */
.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--navy-blue);
  padding-bottom: 72px;
  margin: 0px;
}

.doing-section {
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 72px;
}

.doing-section ul {
  gap: 24px;
}
/* team section */
.team-section {
  background: var(--cloud);
  display: flex;
  justify-content: center;
  text-align: center;
  height: 732px;
}
.title-team {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--navy-blue);
  padding-bottom: 72px;
  margin: 0px;
}
.team-elements {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-member {
  border-radius: 0px 0px 4px 4px;
  padding: 0px 0px 32px 0px;
  width: 264px;
  height: 380px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: var(--white);
}
/* team section fonts */
.team-member h3 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
}
.team-member p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--slate);
}

/* footer section */
.global-footer {
  background: var(--navy-blue);
  height: 312px;
  padding-left: 156px;
  padding-top: 100px;
}
.global-footer p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--cloud);
  height: 72px;
  width: 264px;
}

.logo-link {
  display: flex;
}
.logo-link-footer .web-footer {
  color: var(--iris);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1, 3;
  letter-spacing: 0.03em;
}

.logo-link-footer .studio-footer {
  color: var(--cloud);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1, 3;
  letter-spacing: 0.03em;
}
